<!--

    screw - 简洁好用的数据库表结构文档生成工具
    Copyright © 2020 SanLi (qinggang.zuo@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submit()">
    <!-- 数据源连接设置 start  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>数据源</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="datasourceId" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let item of datasourceList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Schema</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="dbSchema" nzShowSearch nzAllowClear>
          <nz-option *ngFor="let item of schemaList" [nzValue]="item" [nzLabel]="item"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Tables</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <app-table-selector formControlName="tableNames" [datasourceId]="selectedDatasourceId" [dbSchema]="selectedDbSchema"></app-table-selector>
      </nz-form-control>
    </nz-form-item>
    <!-- 数据源连接设置 end  -->

    <!-- 表选择 start  -->
    <!-- 表选择 end  -->


    <!-- 文档设置 start  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">标题</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input formControlName="title" nz-input placeholder="请输入标题"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">描述</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入描述!">
        <input formControlName="description" nz-input placeholder="请输入描述"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">版本</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入版本!">
        <input formControlName="version" nz-input placeholder="请输入版本"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">文件类型</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-radio-group formControlName="fileType" nzButtonStyle="solid">
          <label nz-radio-button nzValue="HTML">Html</label>
          <label nz-radio-button nzValue="WORD">Word</label>
          <label nz-radio-button nzValue="MD">Markdown</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">生成引擎</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-radio-group formControlName="produceType" nzButtonStyle="solid">
          <label nz-radio-button nzValue="freemarker">FreeMarker</label>
          <label nz-radio-button nzValue="velocity">Velocity</label>
          <label *ngIf="validateForm.controls['fileType'].value=='WORD'" nz-radio-button nzValue="poitl">Poi-tl</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">自定义模板</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入描述!">
        <nz-upload [nzAccept]="uploadAccept" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
          <button type="button" nz-button><i nz-icon nzType="upload"></i><span>选择文件</span></button>
          <button type="button" nz-button class="down-template-btn" (click)="downloadDefaultTemplate()">下载内置模板</button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <!-- 文档设置 end  -->

    <nz-form-item>
      <nz-form-control [nzSpan]="18" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
